<div class="acceuil-content">
    <main class="main-content">
        <div class="button-container">
            <button type="submit" (click)="navigateToLogin()">
                <div class="ctn-btn-stl">
                    <a>HERE</a>
                    Click here to sign in
                    <img src="/chevron_right.svg" alt="no found" />
                </div>
            </button>
        </div>
        <div class="welcome-message">
            <h1 class="welcome-title">Welcome to HumanOS,<br> the HR <i>-</i> Management Platform built for
                <i>Nerdtic</i>
            </h1>
            <p>Here you can manage your employees, see your team's performance, and more.
                To get started, please sign in in the box below.</p>
        </div>
    </main>
</div>